.container
    h2.section-heading.mb-5 Contact
    .row
        // First Column - Contact Details
        .col-md-12
            h1.m-0.p-0.text-capitalize Lets Chat.
            h2.m-0.p-0.text-capitalize Discuss about your project
            h3.m-0.p-0.text-capitalize.text-primary Let's create something together

        // Contact Details
        .col-md-6.mt-4
            .contact-card
                .mt-2
                    strong Mail Me at
                    br
                    img.dark-mode-bg(src="/assets/img/personal-email-address.png" alt="Email" title="Email")
                .mt-2
                    strong Call Me at
                    br
                    img.dark-mode-bg(src="/assets/img/personal-mobile-no.png" alt="Mobile" onclick="window.location.href='tel:+923311440036'" data-bs-toggle="tooltip" title="Call Now")
                .mt-2.font-weight-bold
                    i.fas.fa-map-marker
                    | Plot 114, G2, Wapda Town, Lahore, Pakistan. 54770

        // Save Contact + LinkedIn
        .col-md-6.mt-4
            .contact-card
                .mt-2
                    p Save my contact details for quick access.
                    ol
                        li Download the vCard file
                        li Add it to your contacts
                    a.mt-2.btn.btn-primary(href='/assets/file/usmansaif.vcf')
                        | Save My Contact
                    button.mt-2.btn.btn-success(onclick="window.location.href='tel:+923311440036'" data-bs-toggle="tooltip" title="Make direct call")
                        i.fas.fa-phone
                        | Call Now
                    a.mt-2.btn.btn-success(
                      href="https://wa.me/923311440036"
                      target="_blank"
                      rel="noopener"
                      data-bs-toggle="tooltip"
                      title="Chat on WhatsApp"
                    )
                        i.fab.fa-whatsapp
                        | WhatsApp Me
        .col-md-6
            .mt-3
                // LinkedIn Badge Embed
                .badge-base.LI-profile-badge(
                    data-locale="en_US"
                    data-size="large"
                    data-theme="light"
                    data-type="HORIZONTAL"
                    data-vanity="usmansaif22"
                    data-version="v1"
                )
